<?xml version="1.0"?>
<config>
    <modules>
        <StuntCoders_NewsletterCoupon>
            <version>0.1.0</version>
        </StuntCoders_NewsletterCoupon>
    </modules>
    <global>
        <models>
            <stuntcoders_newslettercoupon>
                <class>StuntCoders_NewsletterCoupon_Model</class>
            </stuntcoders_newslettercoupon>
        </models>
        <helpers>
            <stuntcoders_newslettercoupon>
                <class>StuntCoders_NewsletterCoupon_Helper</class>
            </stuntcoders_newslettercoupon>
        </helpers>
        <events>
            <newsletter_subscriber_save_before>
                <observers>
                    <stuntcoders_newslettercoupon>
                        <class>stuntcoders_newslettercoupon/observer</class>
                        <method>newsletterSubscriberSaveBefore</method>
                    </stuntcoders_newslettercoupon>
                </observers>
            </newsletter_subscriber_save_before>
            <newsletter_subscriber_save_after>
                <observers>
                    <stuntcoders_newslettercoupon>
                        <class>stuntcoders_newslettercoupon/observer</class>
                        <method>newsletterSubscriberSaveAfter</method>
                    </stuntcoders_newslettercoupon>
                </observers>
            </newsletter_subscriber_save_after>
        </events>
    </global>
</config>
